/* src/Home.css */

.home-container {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.button {
  padding: 20px 40px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  user-select: none;
}

.button:hover {
  background-color: #0056b3;
}
